h1{ 
    text-align: center;
    font-size: 6rem;

    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    color: rgb(0, 149, 255);
    
    
}

#srh{
    border-color: rgb(12, 8, 8);
    width: 500px;
    height: 40px;
    

    display: flex;
   
    
    
    
   
    box-shadow: 1px 1px 6px black;
    border-radius:1cm ;
    
    
   
   

}
#ser{
    
    width: 20px;
    height: 25px;
    
    margin-top: 1.5%;
   

    
}
#icon{
   
    width: 25px;
    height: 25px;
   
    margin-top: 1.5%;
   margin-left: .25cm;
}
p{ 
    font-style: unset;
    font-weight: lighter;
    margin-right: 3cm;
    margin-left: 5.5cm;
}