#logo{ 
    padding: 10vh;
    font-size: 6vw;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    height: 17vw;
    
    
    
    
}

#srh{
    border-color: rgb(12, 8, 8);
    width: 40vw;
    height: 40px;
    display: flex;
    box-shadow: 1px 2px 3px black;
    border-radius:1cm ;
}
#srh:hover{
        transform: scale(1.005);

}
#ser{
    
    width: 20px;
    height: 25px;
    padding: 10px;

   }
#icon{
   
    width: 25px;
    height: 25px;
    padding: 10px;
  } 
  .buttons button{
    margin-top: 5vw;
    padding: 2vw;
  }
  nav {
    word-spacing: .24vw;
    text-align-last:right ;
    text-decoration: none;
    margin-left: 76vw;
   
    
  }
  a{
    text-decoration: none;
  }
  

footer{
 margin-top: 30vh;
 margin-left: 0;
 margin-right: 0%;
 word-spacing: 2vw;
 display: inline;



}

footer a:hover{
  text-decoration: underline;
}

  


