body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(to bottom right, #b5afcf, #d8cbb9);
  }

  #main{
    text-align: center;
    background: #b85e5e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.416);
    width: 300px;
    background: linear-gradient(to bottom right, #685f56, #c0b2e1);
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #body{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  #body > div{
    display: flex;
    height: 60px;
    width: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.416);
    justify-content: center;
    color:#fff;
   font-size:30px ;
    align-items: center;
    border-radius: 15px;

  }

  #output{

    width: 100%;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    background-color: #2e2c2a63;
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: end;
    box-sizing: border-box;
    padding: 10px;
    gap: 4px;
    align-items: end;
  }

  .btn:active{

    opacity: 70%;
    transform: scaleZ(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.244);

  }

 #output > div ::-webkit-scrollbar{

display: none;
 }
 #output > div{

    -ms-overflow-style: none;
    scrollbar-width: none;
 }
