/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
  }
  
  .container {
    padding: 30px;
  }
  
  #map {
    height: 400px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  