body{
    height: 90vh;
    width: 98vw;
    background-image:url('https://images.unsplash.com/photo-1588032786045-59cefda005c0?q=80&w=1788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}


h1{
    font-size: 4rem;
    text-align: center;
    

}
p{
    font-size: larger;
    text-align: center;
}
.drum-container{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drum{
    height: 85px;
    background-color: rgba(0, 0, 0, 0.932);
    box-shadow: 1px 3px 15px rgb(213, 17, 200);
    border: 2px solid rgb(213, 17, 200) ;
    color:rgb(194, 17, 213) ;
    width: 55px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.playing{
    
    transform: scaleY(0.95);
    box-shadow: 6px 7px 85px  rgb(237, 222, 15);
    border:2px solid rgb(213, 197, 17) ;
    color:rgb(213, 197, 17) ;
    text-shadow: 1px 6px 40px rgb(237, 222, 15) ;
   
}